<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="homepage">
    <h2>Find or submit your tutorial here!!</h2>
    <form action="/list" method='POST' >
      <input type="submit" name ="go" value="See the top 10 tutorials!">
    </form>
    <form action="/submit_page" method='POST'>
      <input type="submit" name="go" value="submit a tutorial!">
    </form>
  </div>

</body>
</html>

