<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 



  <div class="homepage">
  
    <div class="text">
      <h2 class="headline">Find or submit your tutorial here!!</h2>
 
      <form action="/list" method='POST' >
        <button type="submit" name ="go" value="See the top 10 tutorials!" class ="hello">
      </form>
      <form action="/submit_page" method='POST'>
        <button type="submit" name="go" value="submit a tutorial!" class="svg">
      </form>
    </div>
  </div>

</body>
</html>

