<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
    <div class="header">
      <h1>Here are the top minecraft tutorials:</h1>
    </div>
   <div class ="links">
      <a href="https://www.youtube.com/watch?v=1D_3NvUVX0M"><button type ="submit" name ="go" value="How to make a artillery cannon in minecraft!" class ="greetings"></button></a>
      <!--<br>-->

      <a href = "https://www.youtube.com/watch?v=QRVJ7fZwEGA"><button  type ="submit" name ="go" value="How to make a security card door in minecraft (no mods)" class ="sup"></button></a>
      <!--<br>-->
      <a href = "https://www.youtube.com/watch?v=j0jWalIuge4"><button  type="submit" name ="go"value="How to make a automatic lava door in minecraft!" class ="dude"></button></a>
    </div>  
    <div class = "button-back">
     
        <form>
           <a href ="/"><button type="submit" name ="go"value="Home" class ="fill"></button></a>
        </form>
      </a>
    </div>
    
  </div>

</body>
</html>