<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
    <div class="header">
      <h1>Here are the top minecraft tutorials:</h1>
    </div>
    <div class="links">
      <a href = "https://www.youtube.com/watch?v=1D_3NvUVX0M">How to make a artillery cannon in minecraft!</a>
      <br>
      <a href = "https://www.youtube.com/watch?v=QRVJ7fZwEGA">How to make a security card door in minecraft (no mods)</a>
      <br>
      <a href = "https://www.youtube.com/watch?v=j0jWalIuge4">How to make a automatic lava door in minecraft!</a>
    </div>  
    <div class = "button-back">
     
        <form>
           <a href ="/"><input type="button" value="Home"></a>
        </form>
      </a>
    </div>
    
  </div>

</body>
</html>