<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
     <p>Submit your video</p>
  </div>
  
    <form method="POST" action="/thanks_page">
        <input type="text" name="link" placeholder="Submit your link">
        <input type="text" name="op" placeholder="why do you think it is good">
         <input type="text" name="email" placeholder="Enter your email">
        <input type="submit" value="Submit">
    </form>


    <div class = "button-home">
         <a href ="/"><input type="button" value="Home"></a>
    </div>
    


</body>
</html>