<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
 <p>Submit your video</p>
  </div>
    <input type = "text" name = "submit_video" placeholder = "Submit your link">
    <input type = "text" name = "why is it good" placeholder = "why do you think it is good"
    <div class = "button-submit">
     
        <form>
           <a href =""><input type="button" value="Submit"></a>
        </form>
      </a>
    </div>
    <div class = "button-home">
     
        <form>
           <a href ="/"><input type="button" value="Home"></a>
        </form>
      </a>
    </div>


</body>
</html>